<div id="menu">
    <app-menu-bar></app-menu-bar>
</div>
<div id="titulo">
    <h1>Eventos</h1>
</div>
<div id="corpo">
    <div id="principal">
        <app-eventos-agora [titulo]="noticiasLista[0].titulo"
            [imagem]="noticiasLista[0].imagem"
            [descricao]="noticiasLista[0].descricao"
            >
        </app-eventos-agora>
    </div>
    <div id="todas">
        <h2>Últimos eventos</h2>
        <app-eventos-lista *ngFor="let noticia of noticiasLista" [imagem]="noticia.imagem" [titulo]="noticia.titulo"></app-eventos-lista>
    </div>
</div>